body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  touch-action: none; /* Prevents default touch behaviors */
}

#game-container {
  width: 100vw;
  height: 100vh;
}

#score-timer-container {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "VT323", monospace;
  font-size: clamp(3rem, 4vw, 3rem);
  padding: 10px;
  opacity: 1;
}

#score,
#timer {
  letter-spacing: 1px;
}

/* Score-specific */
.score-terminal-text {
  font-family: "VT323", monospace;
  font-size: clamp(3rem, 4vw, 3rem);
  color: var(--score-terminal-text-color);
  position: relative;
  display: inline-block;
}

.score-terminal-caret {
  display: inline-block;
  background-color: var(--score-terminal-caret-color);
  color: black;
  position: relative;
  width: 0.6em;
  text-align: center;
}

/* Timer-specific */
.timer-terminal-text {
  font-family: "VT323", monospace;
  font-size: clamp(3rem, 4vw, 3rem);
  color: var(--timer-terminal-text-color);
  position: relative;
  display: inline-block;
}

.timer-terminal-caret {
  display: inline-block;
  background-color: var(--timer-terminal-caret-color);
  color: black;
  position: relative;
  width: 0.6em;
  text-align: center;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  #score-timer-container {
    top: 10px;
    left: 10px;
    right: 10px;
    text-align: left;
  }
}
